/*nav*/


.tabs a {
    color: white;
    line-height: 3;
}

a:hover {
    color: #ec217c;
}

.header {
  color: white;
}

header {
  color: inherit;
}


/*body*/


body {
  /*background-color: black;*/
  background: linear-gradient(#ece9e6, #ffffff);
  font-family: Arial;
  background-image: url('./connectwork.png');
  background-repeat: repeat;
  border-width: 5px;
}


img {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

p {
  font-size: 1em;
  color: white;
}


.input {
   text-align: right;
   color: white;
}


.page-title {
	/*font-size: 60px;
	color: black;
	text-align: center;*/
	/*border: 4px solid #999;*/
  font-family: 'sans-serif';
  color: #bcefff;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  /*text-shadow: #EDEDED 3px 2px 0;*/
  text-align: center;
  /* transition: 0.5s all; */
}

.page-title:hover {
  color: hotpink;
  /* font-size: 250px; */
}


.covers	{
	text-align: center;
  border-color: blue;
  border-width: 3px;
}


/*footer*/

.footer {
  color: white;
  text-align: center;
  /*background: black;*/
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  /*background-repeat: repeat;*/
  /*background: url('./img/connectwork.png') no-repeat;*/
}


@media only screen (min-width: 760px) {
  .test {
    font-size: 30em;
  }
}
